/target
test.parquet
.ipynb_checkpoints/MarketData-checkpoint.ipynb
WSE_marketdata.parquet
WSE_symbology.parquet
*.pyc
*.pyo
python/__pycache__/*
python/.idea/*
.~lock.tick_tables_wse.csv#
Shares_ETFs_tick_table_2023 (1).xlsx
test.data
python/.idea/misc.xml
python/.idea/python.iml
python/.ipynb_checkpoints/MarketData-checkpoint.ipynb
Sample_Warsaw_Kapka
sample_nasdaq_databento/mbp/xnas-itch-20240122.mbp-1.dbn
sample_nasdaq_databento/mbp/xnas-itch-20240122.mbp-1.dbn.zst
.gitignore
sample_nasdaq_databento/tbbo/xnas-itch-20240122.tbbo.dbn.zst
python/pythonProject/nasdaq.parquet
python/pythonProject/nasdaqtbbo.parquet
Nasdaq.parquet
normalised_data
